*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color: #000;   
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background:#d76005; 
  border-radius: 10px;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}
#logo{
    width: 5%;
    height: 10%;
    float: left;
    margin-top: 6px;
    transition: 0.4s;
}
#logodownR{
  float:right;
  width: 10%;
  height: 10%;
  margin-top: -125px;
}
#logodownL{
float: left;
  width: 10%;
  height: 10%;
  margin-top: -125px;
  font-family: 'Imperial Script', cursive;

}
#fox{
  font-size: 20px;
color: rgb(254, 106, 0);
margin-top: 28px;
margin-left: 90px;
font-family: 'Imperial Script', cursive;
}
#Fox{
    color: rgb(254, 106, 0);
    text-align: center;
    font-size: 40px;
    font-family: 'Imperial Script', cursive;
 

    }
.topnav {
    background-color: rgb(18, 17, 17);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 100px;
    margin-top: -35px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
    color: rgb(252, 130, 8);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: rgb(252, 130, 8);
    cursor: pointer;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
#navbar{
  overflow: hidden;
  padding: 10px 5px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.5s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}
@media screen and (max-width: 580px) {
    #topnav {
      padding: 10px 5px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #topnav a {
      float: none;
      display: block;
      text-align: left;
    }
    #topnav-right {
      float: none;
    }
  }
  footer{
  background-color: rgb(0, 0, 0);
  display: block;
  margin-top:-70px ;  
  height: 727px;
  width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }
  .footimg{
    margin-top: 50px;
    width: 100%;
    height:400px;
    }
    .overlay0 {
      position: absolute;
      background: rgba(0,0,0, 0.6);  /* Black see-through */ 
      width: 100%;
      height: 410px;
      transition: .5s ease;
      opacity:2; 
      font-size: 20px;
      padding: 20px;
      top: 116%;
      transform: scale(1);
      text-align: center;
      border-radius: 20px;
    }
.overlay {
    position: absolute;
    background: rgba(0,0,0, 0.6);  /* Black see-through */ 
    width: 100%;
    height: 410px;
    transition: .5s ease;
    opacity:0; 
    font-size: 20px;
    padding: 20px;
    top: 116%;
    transform: scale(0);
    text-align: center;
    border-radius: 20px;
  }
  /**container and despaer
**/
.footimg:hover .overlay {
    opacity: 2;
    transform: scale(1);  
    border-radius: 20px;
    background: rgba(0,0,0, 0.8);  
    border: 2px solid rgb(68, 47, 7);
}




.col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #FF0063;
  text-transform: uppercase;
}
.col ul {
  list-style-type: none;
  padding: 0;
}
.col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.col ul li:hover {
  cursor: pointer;
  color: rgb(19, 142, 204);
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
 .col {
    width: 33%;
  }
  .col h2 {
    font-size: 14px;
  }
   .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
     .col {
      width: 50%;
    }
     .col h2 {
      font-size: 14px;
    }
     .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
   .col {
    width: 100%;
  }
}

.foxx{
  line-height: 80px;
}
.foxx a{
  text-decoration: none;
  transition: 0.1;
}
.foxx2{
  margin-top: -140px;
  margin-left: 70%;
  
}
.foxx2 ul{
  list-style-type: none;
  padding-inline-start: 20px;
} 
#image0{
  width: 20%;
 height: 20%;
  border-radius: 10px;
  margin: 5px;
  border:#FF0063 solid 2px ;
  cursor: pointer;
}
#image0:hover{
  width: 20%;
  height: 20%;
  border-radius: 10px;
  margin: 5px;
  border:#00aeff solid 2px ;
  cursor: pointer;
}

.foxx3{
  margin-top: -116px;
  margin-Right: 75%;
}
.foxx3 ul {
  list-style-type: none;
  padding: 7px;
}
.foxx3 ul li{
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 5px 0px;
}
.foxx3 ul li:hover{
  cursor: pointer;
  color: rgb(19, 142, 204);
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0px;
}
#B1{
  text-decoration: none;
  color:#FF0063;
  background-color: black;
  border-radius: 10px;
  border: #d2d2d2 solid 2px;
  padding: 12px;
  cursor: pointer;
  transition: 1.2s;
  font-weight: bold;
}
#B1:hover{
  text-decoration: none;
  color:#0c0c0c;
  background-color: rgb(0, 255, 255);
  border-radius: 10px;
  border: #d2d2d2 solid 2px;
  padding: 12px;
  cursor: pointer;
  transition: 1.5s;
  font-weight: bold;
}
/**social icon on overlay**/


/*content*/
.footerr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footerr p{
    margin: 10px auto;
    line-height: 65px;
    font-size: 14px;
}
/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.5px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover {
  text-decoration: none;
    color:  rgb(255, 255, 255);
    border: 1.5px solid rgb(230, 11, 120);
    padding: 5px;
    border-radius: 50%;
}
/* copyright*/
.footerr-copyright{
    background: #000;
    width: 100vw;
    padding: 20px 20px 50px 20px;
}
.footerr-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}


#line {
    width: 1000px;
    left: 250px;
    border-top: 2px solid rgb(172, 172, 172);
    position: relative;
    top: 70px;
}
#icon{
text-align: center;
margin-top: 70px;
}
#icon a {
    font-size: 35px;
    text-decoration: none;
    margin: 25px;
}

#icons0{
  width: 2.5%;
  height:2%;
}


.main {
  width: 98.9vw;
  height: 105vh;
  display: flex;
  color: aliceblue;
  align-items: center;
  background-image: url("image/im.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: bottom;
}

.container {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  margin: 0 auto;
  border-radius: 5px 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 600px) {
  .container {
    width: 510px;
    padding: 50px 100px;
    height: 560px;
    background-image: linear-gradient(to top, #0a061c, #052238, #000000);
  }
}
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #000000;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(38, 9, 225, 0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  color: #0ad5fe;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}


/******************************************************************/

form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
/******************************************************************/

input {
  color: rgb(0, 206, 203);
  }
.wrapper a{
  color: #5372F0;
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #000000;
  padding: 0;
  border: none;
  background: #0d36da;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  font-weight: bold;
}
form input[type="submit"]:hover{
  background: #1811a3;
}



